<div id="index3" style="color: black;border-style: solid;height: 200px;width: 160px;margin-top: 300px;margin-left: 300px">
  <%=render :partial=>"company_show",:locals=>{:company_show=>@company} %>
</div>