<div id="index4" style="color: black;border-style: solid;height: 200px;width: 160px;margin-top: 300px;margin-left: 300px">
  <%=render :partial=>"company_staff",:locals=>{:company_staff=>@company} %>
</div>