<div id="index2" style="color: black;margin-left: 300px;border-style:solid;height: 200px;width: 160px;margin-top: 300px">
  <%=render :partial=>"company_job",:locals=>{:company_job=>@company} %>
</div>