<h1>求购列表</h1>
<% @buy.each do |b| %>
<fieldset>
求购标题:<%=b.buytitle%><br/><br/>
求购名称:<%=b.buyname%><br/><br/>
状态:<%=b.status%>|<%=link_to "删除",:action=>"delete_buy",:id=>b%></fieldset><br/><br/>
<%end%>
