<center><h1>公司会员注册</h1>
<fieldset style="background-color: yellow;width: 300px;">
<div style="border: 1px;border-color: green;width: 300px;height:300px">
<% form_tag :action=>"companyselect" do  %>
用户名:<%=text_field_tag "username"%><br/><br/>
密  码:<%=text_field_tag "password"%><br/><br/>
<%=submit_tag "下一步"%>
<br/>
<%end%>
</div>
  </fieldset>
</center>