<%=stylesheet_link_tag "style1"%>
<div class="m">
<div class="menu" id="menu">
	<ul>
	        <li class="menu_li"><a href=""><span><%=link_to "管理招聘" ,:action=>"listjob"%></span></a></li>
                <% if session[:manager] %>
		<li class="menu_li"><a href=""><span><%=link_to "审核招聘" ,:action=>"list_job"%></span></a></li>
                <%end%>
		</ul>
</div>
</div>
<div style="margin-left: 200px;margin-top: 200px;"><%=yield%></div>